#ta-html, #ta-css, #ta-js{
  font-family: monospace;
  background-color: white;
}
#run{
  z-index: 5;
  position: absolute;
  top: 210px;
  font-size: 18pt;
  background-color: white;
  border: none;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
#run:hover{
  border-left: 1px solid red;
}
#run:focus{
  border: 1px solid red;
  outline: none;
}
#ra{
  z-index: 0;
  width: 90vw;
  height: 500px;
  border: 1px solid black;
  position: absolute;
  margin-top: 220px;
  left: 0;
  padding: 10px;
}
#ta-css{
  width: 30vw;
  height: 200px;
  resize: none;
  position: absolute;
  border-radius: 0px;
  padding: 10px;
  top: 0;
  left: 30vw;
  border: none;
  border-left: 1px solid white;
  border-right: 1px solid black;
}
#ta-css:focus{
  outline: none;
  border-left: 1px solid red;
}
#ta-css:focus::placeholder{
  color: black;
}
#ta-js{
  width: 30vw;
  height: 200px;
  resize: none;
  position: absolute;
  border-radius: 0px;
  padding: 10px;
  top: 0;
  left: 60vw;
  border: none;
  border-left: 1px solid white;
  border-right: 1px solid black;
}
#ta-js:focus{
  outline: none;
  border-left: 1px solid red;
}
#ta-js:focus::placeholder{
  color: black;
}
#ta-html{
  width: 30vw;
  height: 200px;
  resize: none;
  position: absolute;
  border-radius: 0px;
  padding: 10px;
  top: 0;
  left: 0;
  border: none;
  border-left: 1px solid white;
  border-right: 1px solid black;
}
#ta-html:focus{
  outline: none;
  border-left: solid 1px red;
}
#ta-html:focus::placeholder{
  color: black;
}
